.category-segment {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--cat-icon-color);
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}

.category-segment--label {
  margin: auto 0.6em;
  font-size: 12px;
  font-weight: bold;
}
