.main-scroll--recipe {
  flex: 1 0 auto;
}

.main-content--recipe {
  flex: 1 0 auto;
}

.recipe-page {
  display: grid;
  grid-template-columns: 20em minmax(0, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "title title"
    "ingredients instructions";
  gap: 1rem;
  flex: 1;
}

.recipe-title {
  grid-area: title;
  color: var(--recipe-title-text);
  padding: 1em 1.5em 0.25em;
  border-radius: var(--border-radius);
  text-align: center;
}

.recipe-title h1 {
  margin-bottom: 0.25rem;
}

.recipe-title-categories {
  display: flex;
  gap: 1rem;
  margin: 0 auto 1em auto;
  width: fit-content;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-title-divider {
  display: flex;
  align-items: center;
  width: 35%;
  min-width: 12em;
  margin: 0.25em auto 1em;
}

.recipe-title-divider-line {
  flex: 1;
  height: 3px;
  background-color: var(--divider);
}

.recipe-title-divider-heart {
  color: var(--cat-carnivore);
  margin: 0 0.5em;
  flex-shrink: 0;
}

.recipe--tab-title {
  background-color: var(--card-title-bg);
  color: var(--recipe-title-text);
  padding: 0.5em 1em;
  border-radius: 0.8em;
}

@media (max-width: 768px) {
  .recipe-page {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title"
      "ingredients"
      "instructions";
  }
}
