.main-scroll--recipe {
  flex: 1 0 auto;
}

.main-content--recipe {
  flex: 1 0 auto;
}

.recipe-page {
  display: grid;
  grid-template-columns: 20em minmax(0, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "title title"
    "ingredients instructions";
  gap: 1rem;
  flex: 1;
}

.recipe-title {
  grid-area: title;
  color: var(--recipe-title-text);
  padding: 1em 1.5em 0.25em;
  border-radius: var(--border-radius);
  text-align: center;
}

.recipe-title-categories {
  display: flex;
  gap: 1rem;
  margin: 0 auto 1em auto;
  width: fit-content;
  flex-wrap: wrap;
  justify-content: center;
}

/* Lists */
.recipe--ingredients ul,
.recipe--instructions ol {
  list-style-type: none;
  color: var(--text-main);
}

.recipe--instructions li {
  margin-bottom: 0.6em;
}

.recipe--ingredients li {
  margin-bottom: 0.4em;
}

.recipe--ingredients {
  grid-area: ingredients;
  display: flex;
  flex-direction: column;
}

.recipe--instructions {
  grid-area: instructions;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.recipe--instructions-list {
  min-width: 0;
}

.recipe--instructions-list li {
  overflow-wrap: break-word;
}

@media (max-width: 768px) {
  .recipe-page {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title"
      "ingredients"
      "instructions";
  }
}
