:root {
  /* Outcome */
  --cat-soup: #cc4b36;
  --cat-snack: #dd7939;
  --cat-lunch: #e5a238;
  --cat-pastry: #b9905a;
  --cat-dessert: #a06f99;
  --cat-drink: #5582b4;

  /* Type */
  --cat-savory: #79aa45;
  --cat-sweet: #c67591;

  /* Diet */
  --cat-vegetarian: #8aa85c;
  --cat-pescetarian: #509791;
  --cat-carnivore: #d4613b;
}
