.recipe-preview--wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  flex-grow: 1;
  border-radius: var(--border-radius, 0.8rem);
}

.recipe-preview--list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.recipe-preview--card {
  min-height: 2.6em;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  padding: 0.5em 1em;
  border-bottom: 2px solid #e4cebe;
}

.recipe-preview--card-title {
  justify-content: center;
  flex-grow: 1;
  justify-self: center;
  margin: auto;
}

.recipe-preview--card-categories {
  display: flex;
  gap: 0.5em;
  width: 3em;
}

.recipe-preview--no-results {
  text-align: center;
  color: #666;
  font-style: italic;
  margin-top: 2rem;
}
